id = "mqtt-gateway.svc.example.org"

[authn."iam.svc.example.net"]
audience = ["usr.example.net"]
algorithm = "ES256"
key = "/app/data/keys/iam.public_key.pem.sample"

[authn."svc.example.org"]
audience = ["svc.example.org"]
algorithm = "ES256"
key = "/app/data/keys/svc.public_key.pem.sample"

[authz."svc.example.org"]
type = "local"
trusted = ["app.svc.example.org", "devops.svc.example.org"]
