-----BEGIN EC PRIVATE KEY-----
MHcCAQEEIGrdZDgyouytRYS7lPJTEEnovv+YEPBSFEjK2HMBI0FHoAoGCCqGSM49
AwEHoUQDQgAEWWwNQde0SgLFERWZ1EX+1yKBQHWjDoYc0yVOerzcnh5BmSi2YXtM
4OUmbBoTZM7atDBOmG9iVnSnr+vY1EYPfA==
-----END EC PRIVATE KEY-----
